fastapi
uvicorn[standard]
numpy
pandas
openai
python-docx
pymupdf
pdfminer.six
PyPDF2
pytesseract
Pillow
python-multipart
tqdm
accelerate
hf_transfer
transformers==4.37.2
sentence-transformers==2.5.1
scikit-learn
